<nav>
  <div class="nav-wrapper light-blue ligthen-1">
    <a class='brand-logo site-logo'>iot-flows</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'Home', '/' %></li>
        <li><%= link_to 'Wiki', wiki_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Logout', destroy_user_session_path%></li>
        <% else %>
          <li><%= link_to 'Member Login', new_user_session_path %></li>
        <% end %>
    </ul>
  </div>
</nav>