<div class='col s12 m2'>
  <div class='image-container'>
    <%= image_tag member.username + '.jpg', class: 'circle responsive'%>
  </div>
</div>
<div class='col s12 m4'>
  <h5><%= member.name %></h5> <!--trocar por member.name-->
  <p><%= member.occupation %></p> <!--trocar por member.title-->
</div>