h1{
  color: rgb(150, 127, 255);
}
.button_to,
.button_to div {
  display: inline;
}

.article_list{
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

.footer{
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
}