<!DOCTYPE html>
<html>
  <head>
    <title>iotflows</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuv2LMO3aL-7RvBN3LwhCiAPv18-FXqGM&callback=myMap">
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
